* {
    margin: 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.head {
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    padding: 20px 180px;
}

.head-logo-text {
    justify-content: space-between;
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
    flex-direction: column;
    display: flex;
    align-items: center;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    align-items: center;
}

.second-section {
    background-color: #1F2937;
    font-family: sans-serif;
    display: flex;
    padding: 100px 180px;
    align-items: left;    
    justify-content: space-between;
}

.left-container {
    flex-direction: column;
    display: flex;
    width: 500px;
    gap: 10px;
}

.right-container {
    font-size: 18px;
    width: 500px;
    height: 233px;
    background-color: #808090;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.awesome-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.smaller-text {
    font-size: 18px;
    color: #E5E7EB;
}

#sign-up-one {
    background-color: #3B82F6;
    border-radius: 10px;
    color: white;
    width: 125px;
    height: 40px;
    font-size: 20px;
    border: 1px solid black;
}

.third-section-title {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.third-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;
}

.placeholder-image-1,
.placeholder-image-2,
.placeholder-image-3,
.placeholder-image-4 {
    max-width: 200px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.placeholder-image-1 div.container {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: 4px solid #3B82F6;
    margin-bottom: 10px;
}

.placeholder-image-2 div.container {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: 4px solid #3B82F6;
    margin-bottom: 10px;
}

.placeholder-image-3 div.container {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: 4px solid #3B82F6;
    margin-bottom: 10px;
}

.placeholder-image-4 div.container {
    width: 150px;
    height: 150px;
    border-radius: 10px;
    border: 4px solid #3B82F6;
    max-width: 200px;
    margin-bottom: 10px;
}

.quote-section {
    background-color: #E5E7EB;
    margin-top: 100px;
    padding: 180px 180px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    padding: 10px 80px;
}

.quote-author {
    font-size: 25px;
    color: #1F2937;
    font-weight: bold;
    text-align: right;
    margin-right: 150px;
}

.call-to-action-section {
    padding: 100px 180px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.inside-container-cta-section {
    display: flex;
    border-radius: 10px;
    gap: 100px;
    padding: 25px 100px;
    width: 1000px;
    background-color: #3882F6;
    color: white;
}

.text-one {
    font-weight: 900;
    font-size: 25px;
}

.text-two {
    font-size: 17px;
    font-weight: 400;
}

.left-inside-container-cta-section {
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding: 30px;
    width: 650px;
}

.right-inside-container-cta-section {
    display: flex;
    align-items: center;
    
}

#sign-up-two {
    border: 2px solid white;
    border-radius: 5px;
    background-color: #3882F6;
    color: white;
    font-size: 18px;
    padding: 5px;
    width: 124px;
}

.footer {
    font-size: 18px;
    font-weight: normal;
    background-color: #1F2937;
    color: white;
    text-align: center;
    padding: 30px;
}